<section>
  <h1>Links</h1>
	<ul class='friendlinks'>
		<li><a href="http://www.biolyrics.com/">Biolyrics</a> &mdash; Faris's personal
		blog.</li>
		<li><a href="http://www.metacogni.tv/">Metacogni.tv</a> &mdash; A Cognitive
		Science blog that thinks about thinking.</li>
		<li><a href="http://www.vantechnet.ca/">The Vancouver Technology Network</a> &mdash; A social enterprise still in its infacy. Their
		mission statement is to provide empowerment to marginalized populations
		through technology.</li>
	</ul>
</section>
